@import url(https://fonts.googleapis.com/css?family=UnifrakturMaguntia|Fondamento);

/*General stuff*/
*{
	margin: 0;
	padding: 0;
	outline: none;
	list-style: none;
	text-decoration: none
}

/*font stuff*/

@font-face{
	font-family: Ruritania;
	src: url(../fonts/Ruritania.ttf);
}

@font-face{
	font-family: Germanica;
	src: url(../fonts/Germanica.ttf);
}

code, input, textarea, body{
	font-family: UnifrakturMaguntia, serif;
}

/*Minor tweaks*/

html {
	overflow-y: scroll;
}

body{
	position: relative;
	max-width: 800px;
	margin: 0 auto;
	background-color: #DDD9C2;
	font-weight: 100;
}

code{
	font-size: 12pt;
}

input, textarea, label, p, pre{
	font-size: 15pt;
}

code, input, textarea, label, p, pre, h1, h2, h3, h4, h5, h6, footer{
	color: #2E2D28;
}

img{
	max-width: 100%;
}

/* Flaired edges, by Tomas Theunissen */
hr{
	height: 30px;
	border: 0 solid #9A9787;
	border-top-width: 1px;
	border-radius: 20px;
	margin-top: 31px;
}

hr:before{
	/* Not really supposed to work, but does */
	display: block;
	content: "";
	height: 30px;
	margin-top: -31px;
	border-style: solid;
	border-color: #9A9787;
	border-width: 0 0 1px 0;
	border-radius: 20px;
}

/*Header*/
header h1{
	font-family: Ruritania, serif;
	font-weight: 100;
	font-size: 35pt;
	color: #4D4B43;
	margin: 20px auto;
	text-align: center;
}

header nav{
	position: relative;
	background-color: #9A9787;
}

header nav ul{
	overflow: hidden;
}

header nav ul li{
	float: left;
}

header nav ul li a{
	color: white;
	display: block;
	padding: 5px 20px;
	transition: all .5s;
	font-size: 15pt;
}

header nav ul li a:hover{
	background-color: #ac3235;
}

main{
	padding: 20px 0 20px 0;
}

section article:not(:first-child){
	margin-top: 30px;
}

section article:not(:last-child){
	padding-bottom: 30px;
	border-bottom: 1px dashed black;
}

footer{
	margin-bottom: 31px;
}

/*FORMS*/
form{
	width: 75%;
	margin: 0 auto;
	box-sizing: content-box;
}

form input, form textarea{
	width: calc(100% - 10px);
	padding: 5px;
	box-sizing: content-box;
	transition: all .5s;
}

form textarea{
    overflow: hidden;
    padding: 5px 5px 0 5px;
    resize: none;
}

.fillout{
	margin-bottom: 20px;
}

.fillout input, .fillout textarea{
	background-color: transparent;
	color: #000F55;
	border-bottom: 1px dashed black;
	border-top: 0;
	border-left: 0;
	border-right: 0;
}

.fillout label{
	display: inline-block;
	width: 100%;
	-webkit-user-select: none; /* Chrome/Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
	/* Rules below not implemented in browsers yet */
	-o-user-select: none;
	user-select: none;
}

.fillout input:focus, .fillout textarea:focus, form input[type=submit]:hover{
	background-color: #E7E4D4;
}

form input[type=submit]{
	width: calc(100% - 10px);
	background-color: transparent;
	border: 1px solid #AAA;
	border-radius: 5px;
	color: black;
}


/*Skal gerast pent so tað riggar til heimasíðuna.*/
ul.topnav{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

ul.topnav li{
	float: left;
}

ul.topnav li a{
	display: inline-block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	transition: 0.3s;
	font-size: 17px;
}

ul.topnav li a:hover{
	background-color: #555;
}

ul.topnav li.icon{
	display: none;
}

@media screen and (max-width:680px){
	ul.topnav li:not(:first-child) {display: none;}
	ul.topnav li.icon {
		float: right;
		display: inline-block;
	}
}

@media screen and (max-width:680px){
	ul.topnav.responsive{
		position: relative;
	}

	ul.topnav.responsive li.icon{
	position: absolute;
	right: 0;
	top: 0;
	}
	ul.topnav.responsive li{
		float: none;
		display: inline;
	}
	ul.topnav.responsive li a{
		display: block;
		text-align: left;
	}
}
